@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif, FontAwesome;
  cursor: default;
}

body {
  height: 100vh;
  max-height: 100vh;
  padding: 1em;
  display: flex;
  align-items: center;
  background-color: #393E41;
}
body .container {
  width: 550px;
  max-width: 100%;
  border-radius: 10px;
  padding: 1em;
  background-color: #F6F7EB;
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.1);
  text-align: center;
  color: #F6F7EB;
}
body .container .title { /* Container Title */
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #E94F37;
}
body .container .div-title { /* Container Subtitles */
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px dashed #F6F7EB;
}
body .container {
  /* Password Characteristics */
}
body .container .pass-char {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
body .container .pass-char, body .container .pass-length {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: left;
  padding: 1rem;
  border-radius: 5px 5px 0 0;
  background-color: #393E41;
}
body .container .pass-char .row, body .container .pass-length .row {
  width: 50%;
  height: 121px;
  border-radius: 5px;
  padding: 0.5rem 0;
  margin-top: 5px;
}
body .container .pass-char .row .form-check, body .container .pass-length .row .form-check {
  padding-right: 0;
  margin-bottom: 15px;
}
body .container .pass-char .row .form-check:last-child, body .container .pass-length .row .form-check:last-child {
  margin-bottom: 0;
}
body .container .pass-char .row input, body .container .pass-length .row input {
  cursor: pointer;
}
body .container .pass-char .row .symbols-info, body .container .pass-length .row .symbols-info { /* Tooltip Button */
  padding: 0;
  color: #E94F37;
  text-decoration: none;
  font-weight: bold;
}
body .container .pass-char .row label, body .container .pass-length .row label {
  font-size: 14px;
}
body .container .pass-char .row .form-check-input, body .container .pass-length .row .form-check-input { /* Char-Switches */
  border-color: #393E41;
  border-width: 2px;
}
body .container .pass-char .row .form-check-input:checked, body .container .pass-length .row .form-check-input:checked {
  background-color: #E94F37;
  border-color: #E94F37;
  border-color: #F6F7EB;
}
body .container .pass-char .row .form-check-input:focus, body .container .pass-length .row .form-check-input:focus {
  box-shadow: 0 0 0 0.15rem #F6F7EB;
}
body .container {
  /* Password Length */
}
body .container .pass-length {
  flex-direction: row;
  padding-top: 0;
  border-radius: 0 0 5px 5px;
}
body .container .pass-length p {
  margin-bottom: 0;
}
body .container .pass-length { /* Subtitle - Small */ }
body .container .pass-length small {
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
  font-size: 10px;
  letter-spacing: 1px;
  color: #b5b8bb;
}
body .container .pass-length .length-value {
  font-size: 12px;
  margin: 10px 0 5px 0;
  text-align: center;
}
body .container .pass-length .form-range { /* Form Range */
  cursor: pointer;
  margin-bottom: 5px;
}
body .container .pass-length .form-range:disabled::-moz-range-thumb {
  background-color: #ed8975;
  border-color: #ed8975;
  cursor: not-allowed;
  pointer-events: all;
}
body .container .pass-length .form-range::-moz-range-thumb {
  width: 10px;
  height: 20px;
  background-color: #E94F37;
  border: 1px solid #F6F7EB;
}
body .container .pass-length .form-range::-moz-range-track {
  height: 2px;
}
body .container .pass-length .form-range:focus::-moz-range-thumb {
  box-shadow: 0 0 0 0.15rem #F6F7EB;
}
body .container .pass-length .progress {
  width: 100%;
  height: 5px;
  border: 1px solid #FFf;
}
body .container .pass-length { /* Security progress bar */ }
body .container .pass-length .sec-level-text {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}
body .container #generate-pass, body .container #copy-password {
  margin: 1rem 0;
  background-color: #E94F37;
}
body .container #generate-pass:hover, body .container #copy-password:hover {
  background-color: #bb2d3b;
}
body .container #generate-pass:disabled, body .container #copy-password:disabled {
  cursor: not-allowed;
  pointer-events: all;
  background-color: #ed8975;
  border-color: #ed8975;
}
body .container #generate-pass:disabled:hover, body .container #copy-password:disabled:hover {
  background-color: #ed8975;
}
body .container .generated-password {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.5rem;
  border-radius: 5px;
  gap: 15px;
  background-color: #393E41;
  color: #F6F7EB;
}
body .container .generated-password #generated-pass-input { /* Generated Password Input */
  width: 85%;
  background-color: white;
  cursor: copy;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}
body .container .generated-password #generated-pass-input::-moz-selection {
  background-color: #ffc107;
}
body .container .generated-password #generated-pass-input::selection {
  background-color: #ffc107;
}
body .container .generated-password #copy-password {
  margin: 0;
}/*# sourceMappingURL=styles.css.map */